{% if form.non_field_errors %}<div class="error-summary" role="alert">{{ form.non_field_errors }}</div>
{% endif %}{% for field in form %}<div class="form-field">{{ field.label_tag }}{{ field }}{% if field.help_text %}<div class="help" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</div>
{% endif %}{% if field.errors %}<ul class="field-error" id="{{ field.auto_id }}_error" role="alert">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}</div>
{% endfor %}
